{
  "extends": [
    "airbnb",
    "airbnb/hooks"
  ],
  "rules": {
    // suppress errors for missing 'import React' in files
    "react/react-in-jsx-scope": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx",
          ".ts"
        ]
      }
    ]
  },
  "env": {
    "browser": true
  }
}