.btn {
  @apply px-10 py-3 rounded-lg bg-white text-indigo-100 font-semibold uppercase tracking-widest;
  border: 2px solid theme('colors.white');
  transition: all 0.3s;
}

.btn:hover {
  @apply text-red-100;
}

.btn--ghost,
.btn--ghost:active {
  @apply bg-transparent text-white;
  border: 2px solid theme('colors.gray.100');
}

.btn--ghost:hover {
  @apply bg-white font-semibold;
}
