.game {
  @apply flex flex-col justify-between;
}

.game.step-one {
  @apply bg-cover bg-no-repeat;
  background-image: url('../../assets/images/_bg-triangle.svg');
  background-position: 10px 75px;
}

.game__form {
  @apply flex flex-wrap items-center justify-between;
  height: 400px;
}

.game__form > .input-radio:last-child {
  @apply w-full;
}

.game__selection-label {
  @apply text-white uppercase font-semibold text-lg tracking-wider;
}

.game__finished-msg {
  @apply text-white uppercase font-bold text-5xl tracking-wide;
}