.game {
  @apply bg-cover bg-no-repeat;
  background-image: url('../../assets/images/_bg-triangle.svg');
  background-position: 10px 75px;
}

.game__form {
  @apply flex flex-wrap items-center justify-between;
  height: 400px;
}

.game__form > .input-radio:last-child {
  @apply w-full;
}
